NODE_ENV=development
PORT=3000

# DB (server only)
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSL_CA_CONTENT=
# DB_SSL_CA=/path/to/ca.pem

# Auth (server only)
JWT_SECRET=
JWT_EXPIRY=90d
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_NAME=TailboardBot

# Public (client + server)
NEXT_PUBLIC_APP_URL=https://moim-tailboard.vercel.app
